@CHARSET "UTF-8";

btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #B1D4E7  !important;
    border-color: #fff !important;
}

#customerMagicAddress {
    position:fixed;
    top:15%;
    width:auto;
    background-color:white;
    height:auto;
    padding:0 !important;
/*     left: -45%; */
    right: 0%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-backdrop {
    opacity: 0.5;
}

#_loading {
    display: none !important;
}

.modal{
/*     top:35%; */
}


.banner-caption {
    position: absolute;
    top: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff !important;
    text-align: center;
}

.fontSetting{
    color: #464646 !important;
    font-family: "AvenirNext Regular",Arial,Helvetica,sans-serif;
}


 #updateDetails {
     width: auto !important;
 }

.fontSize1 {
    font-size:55px;
}

.fontSize2 {
    font-size:28px;
}

.fontSize3 {
    font-size:30px;
}

@media screen and (max-width:768px) {
    .fontSize1 {
        font-size:25px;
    }

    .fontSize2 {
        font-size:15px;
    }

    .fontSize3 {
        font-size:18px;
    }

     #banner {
         height: 350px !important;
     }

    #searchIcon {
        height: auto !important;
        vertical-align: middle;
        border-style: none;
    }

    .banner-caption {
        top: 20% !important;
    }

    .col-sm-11 {
        width:90% !important;
    }

    .col-sm-1 {
        width:10% !important;
    }

    .search_btn {
        display: block;
        height: 20px;
        margin-left: -10px !important;
    }
    .modal{
/*         top:35%; */
    }

    #customerMagicAddress {
	    right: 0%;
    }
}

navbar .navbar-nav .nav-link:hover {
    background-color: #fff;
    color:  #B1D4E7;
  }
.navbar .navbar-nav .nav-link {
	 padding: 0.6em;
	 font-size: 1.2em;
	 transition: all 0.5s;
}
.navbar .navbar-brand {
	  padding: 0 0.6em;
	  font-size: 1.5em;
	  font-weight: bold;
}

.navbar-right {
     margin-left: auto;
}

div {
    display: block;
}

.pagination{
	display:flex;
	justify-content: center;
}

.setHeight{
	height:200px;
}

#myModalTac {
/* 	top:25% !important; */
/* display: flex !important; */
align-items: center;
}

pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.toggleColor {
    background-color: #B1D4E7 !important;
}

.toggleColor2 {
    background-color: transparent !important;
}

.header22 {
/*   background-color: #f1f1f1; */
  padding: 30px;
  text-align: center;
  background-image:  url(../images/common/customerBackground.png);
  background-color: rgba(134, 169, 191, 0.76);
}

