@CHARSET "UTF-8";

/* 그리드 메인 외곽 DIV */
.aui-grid {
	width:100%!important; /* add */
}

/* 모든 칼럼 렌더러의 베이스 */
.aui-grid-renderer-base {
	line-height:1.3; /* add */
}

/* 내부 처리 로딩바 스타일 */
.aui-process-loader-showing {
	/*background: url("./images/wait.png") no-repeat 50% 50%;*/
	background: url("../../resources/images/common/aui_proge.gif") no-repeat 50% 50%;
}

/* Grid - Input Column Header Display */
.aui-grid-header-input-icon {
    background: url("../../resources/AUIGrid/images/grid_input_ico.png") no-repeat  , linear-gradient(to bottom, #f8f8f8, #eee) !important;
    z-index: 9999999;
    width: 12px;
    height: 12px;
    /* position: relative;*/

    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #eee;

    cursor: pointer;
}

/* Grid - Input Column Header Display - hover */
.aui-grid-header-input-icon:hover {
    background: url("../../resources/AUIGrid/images/grid_input_ico.png") no-repeat , linear-gradient(to bottom, #f8f8f8, #dadada);
    z-index: 9999999;
    width: 12px;
    height: 12px;
   /* position: relative;*/

    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #dadada;

    cursor: pointer;
}

/* Grid - Mandatory Input Column Header Display */
.aui-grid-header-input-essen > .aui-grid-renderer-base > span::after{
    color:#ff0000;
    margin-left:5px;

    content : '*';
}

/* Grid - align */
.aui-grid-user-custom-left {
        text-align:left;
 }
 .aui-grid-user-custom-right {
     text-align:right;
 }

/* Grid - paging panel */
.my-grid-paging-panel {
    width:100%;
    margin:4px auto;
    font-size:12px;
    height:34px;
    border: 1px solid #ccc;
}
