@charset "utf-8";

/* 레이아웃 */
#wrap{ position:relative; width:100%; height:100%; }

/* 메인 */
header{ background:#25527c; text-align: left; padding:5px 0 0; }
header h1{padding:10px 0 0 20px; }
header h2{ padding:7px 0 10px 20px; }
header .title_wrap{ background: #fff; position: relative; }
header nav{ position: absolute; top:7px; left:7px; }
header nav .btn-nav{display: inline-block; width:25px; height:25px;	background: url(../images/btn-menu.png) 0 0 no-repeat; background-size: 100% 100%; }
header h3{ text-align: center; padding:10px 0; color: #25527c;font-size:18px; }
header .btn_logout{position: absolute;right: 15px;top: 22px;width:27px;height:27px;}
header .btn_logout img{width:100%;}

/* 메뉴 */
.nav_wrap{ position:absolute; width:100%; height:100vh; overflow-y: hidden; display: none; z-index: 10; background:rgba(0,0,0,.7);-webkit-overflow-scrolling:touch;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
}
.nav_wrap .nav_container{width:80%;position:relative;height:100%;overflow-y: auto;-webkit-overflow-scrolling:touch;background:#fff;}
.nav_wrap h2{ padding: 15px 20px;background:#25527c;}
.nav_wrap h2 .title{color:#fff;font-size:18px}
.nav_wrap h2 .btn-close{position: absolute;right:10px;}
.nav_wrap .nav_menu{background: #fff;overflow-y: auto;-webkit-overflow-scrolling:touch; position: absolute;;width:100%;height:95%;}
.nav_wrap .nav_menu li{line-height: 1.5em;padding:5px 10px;border-top:1px solid #e2e2e2;}
.nav_wrap .nav_menu li:first-child{border-top:0;}

/* lnb */
.lnb_wrap .lnb_con > p:first-child{left:0;}
.lnb_wrap .lnb_con > p a{display:block; height:34px; line-height:34px; font-size:12px; color:#6d89a3; background:#0c3a65; text-align:center;}
.lnb_wrap .lnb_con > p.on a{background:#06a7e2; color:#fff;}
.lnb_wrap .lnb_con > p a span{position:relative; top:2px; display:inline-block; width:14px; height:15px; line-height:34px; margin:0 5px 0 0; background:url(../images/icon_fav.gif) no-repeat; background-position:0 0;}
.lnb_wrap .lnb_con > p.on a span{background-position:100% 0;}
.lnb_wrap .lnb_con .inb_menu{width:100%; height:100%; background:#fff; box-sizing:border-box; overflow:auto;}
.lnb_wrap .lnb_con > p.on+.inb_menu{display:block;} 
.lnb_wrap .lnb_con .inb_menu > li{border-bottom:1px solid #e2e2e2;}
.lnb_wrap .lnb_con .inb_menu li ul{display:none;}
.lnb_wrap .lnb_con .inb_menu li.active > ul{display:block;}
.lnb_wrap .lnb_con .inb_menu > li > a{display:block; line-height:30px; font-size:14px; padding:3px 15px; color:#666; background:#fff url(../images/lnb_arrow_off.gif) no-repeat right center;}
.lnb_wrap .lnb_con .inb_menu > li > a.on{color:#fff; background:#06a7e2 url(../images/lnb_arrow_on.gif) no-repeat center right;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > a{display:block; line-height:3em; padding:0 15px 0 31px; font-size:12px; color:#25527c; border-top:1px solid #e2e2e2; background:#f0f0f0 url(../images/lnb_arrow_sub_off.gif) no-repeat 20px 15px;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > a.on {background:#e2e2e2; background:#f0f0f0 url(../images/lnb_arrow_sub_on.gif) no-repeat 20px 15px; font-weight:bold;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li:first-child > a{border-top:0 none;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul{padding:0;  background:#f0f0f0; border-top:1px solid #e2e2e2;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > a{display:block; line-height:2em; padding:6px 15px 6px 39px; font-size:12px; color:#25527c; background: url(../images/lnb_arrow_sub_off.gif) no-repeat 26px 17px;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > a.on{font-weight:bold; background:url(../images/lnb_arrow_sub_on.gif) no-repeat 26px 17px;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > a.none{background:none;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > a.status_new{background:url(../images/status_new.gif) 13px 14px no-repeat;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > a.status_dev{background:url(../images/status_dev.gif) 13px 14px no-repeat;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > a.status_upd{background:url(../images/status_upd.gif) 13px 14px no-repeat;} 
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > ul{padding:4px 0;  background:#f0f0f0; border-top:1px solid #e2e2e2; margin-left:8px;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > ul a{display:block; line-height:1.5em; padding:0 15px 0 39px; font-size:12px; color:#25527c;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > ul a.on{font-weight:bold;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > ul > li > a {padding:6px 15px 6px 46px;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > ul > li > a.status_new{background:url(../images/status_new.gif) 19px 10px no-repeat;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > ul > li > a.status_dev{background:url(../images/status_dev.gif) 19px 10px no-repeat;}
.lnb_wrap .lnb_con .inb_menu > li > ul > li > ul > li > ul > li > a.status_upd{background:url(../images/status_upd.gif) 19px 10px no-repeat;}

/* 로그인 */
#login_wrap{position:absolute; width:100%; height:100%;text-align: center; padding:30px 0; background:#f6f6f6 url(../images/bg_login.jpg) no-repeat center 0; box-sizing:border-box; background-size:cover;}
#login_wrap h1{width:50%; margin:auto; margin-top: 20px;padding:0 30px; box-sizing:border-box; }
#login_wrap .login_box{width:80%;padding:0 10%;}
#login_wrap .login_box h2{margin:15px 0 20px;width:100%;text-align: center;}
#login_wrap .login_box h2 img{width:80%;}
#login_wrap .login_box input[type=text],
#login_wrap .login_box input[type=password]{display:block; width:100%; height:40px; line-height:40px; border:1px solid #ddd; margin:auto; text-indent:19px; font-size:11px;}
#login_wrap .login_box p.id_save{float:left; margin:4px 0 0 0;}
#login_wrap .login_box p.id_save label input[type=checkbox]{position:Relative; top:2px;}
#login_wrap .login_box p.lang{float:right;}
#login_wrap .login_box p.lang select{width:80px; height:20px;  padding:0 0 0 4px; margin:0; border:1px solid #d2d2d2; border-radius:3px; box-sizing:border-box; font-size:11px; color:#444; font-family:Verdana,"돋움",Dotum,sans-serif;}
#login_wrap .login_btn{clear:both; padding-top:5px;text-align: center;}
#login_wrap .login_btn a{display:block; height:50px; line-height:50px; text-align:center; margin:auto; background:#25527c url(../images/login_text.gif) no-repeat center center; text-indent:-1000em; overflow:hidden;}
#login_wrap .login_box p{margin-bottom:10px;}
#login_wrap .login_box .login_opt{text-align:center;}
#login_wrap .login_box .login_opt li{display:inline-block; padding:0 0 0 9px;}
#login_wrap .login_box .login_opt li:first-child{position:relative; padding:0 14px 0 17px;}
#login_wrap .login_box .login_opt li:first-child:before{content:""; display:block; position:absolute; top:1px; right:0; width:1px; height:10px; background:#ccc;}
#login_wrap .login_box .login_opt li:first-child:after{content:""; display:block; position:absolute; top:1px; left:0; width:14px; height:13px; background:url(../images/icon_id_search.gif) no-repeat 0 0;}
#login_wrap .login_box .login_opt li a{color:#25527c;}
#login_wrap .copy{position: fixed;bottom:10px;left:0;text-align:center; color:#666; font-size:11px;text-align: center;width:100%;line-height: 1.5em}

/* 탭 */
.tap_type1{position:relative;}
.tap_type1:after{content:""; display:block; clear:both;}
.tap_type1 li{float:left; width:33.333333%;text-align: center;}
.tap_type1 li a{display:block; line-height:1.3; padding:5px; border:1px solid #d3d9dd; font-size:11px; color:#888; font-weight:bold;}
.tap_type1 li .on{background:#a1c4d7; border:1px solid #a1c4d7; color:#25527c;}
.tap_type1+.tap_area{position:relative; top:0;}
.tap_area{position:absolute; top:-1000em; padding:10px; }
.tap_area h3{font-size:16px;}
.tap_area .contents{padding-top: 10px}